html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 50px 0 60px;
}

footer {
    height: 60px;
    background-color: #2c3e50;
    padding: 20px 0;
    color: white;
}

#data-table {
    overflow: auto;
    height: 340px;
}
